---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

import pt from "../i18n/pt.js";
import en from "../i18n/en.js";
import es from "../i18n/es.js";

const { lang = "pt" } = Astro.props;
const t = lang === "en" ? en : lang === "es" ? es : pt;
---

<!doctype html>
<html lang={lang}>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>IruyCode</title>
</head>

<body>
    <Header lang={lang} t={t} />
    <slot />
    <Footer lang={lang} t={t} />
</body>

</html>



<!-- <script is:inline>
    const h1Target = document.getElementById("typing-h1");
    const pTarget = document.getElementById("typing-p");

    const h1Lines = [
        'Sou o <span class="text-cyan-400 animate-pulse">Yuri Banzato</span>,',
        'Desenvolvedor de Software.'
    ];
    const pLines = [
        'Especializado em aplicações web modernas,',
        'interfaces limpas e soluções escaláveis.'
    ];

    let lineIndex = 0;
    let charIndex = 0;
    let currentLine = '';
    let currentTarget = h1Target;
    let lineArray = h1Lines;

    function typeLine() {
        if (lineIndex < lineArray.length) {
            currentLine = lineArray[lineIndex];

            if (charIndex <= currentLine.length) {
                currentTarget.innerHTML = lineArray
                    .slice(0, lineIndex)
                    .join('<br>') + '<br>' + currentLine.slice(0, charIndex);

                charIndex++;
                setTimeout(typeLine, 40);
            } else {
                lineIndex++;
                charIndex = 0;
                setTimeout(typeLine, 300);
            }
        } else if (currentTarget === h1Target) {
            // Passa para o parágrafo
            currentTarget = pTarget;
            lineArray = pLines;
            lineIndex = 0;
            charIndex = 0;
            setTimeout(typeLine, 300);
        }
    }

    typeLine();
</script> -->






<script is:inline>
    const flipCard = document.getElementById("flip-card");
    const flipInner = document.getElementById("flip-inner");

    flipCard.addEventListener("click", () => {
        flipInner.classList.toggle("rotate-y-180");
    });
</script>

<script>
    const langToggle = document.getElementById("langToggle");
    const langMenu = document.getElementById("langMenu");

    langToggle.addEventListener("click", () => {
        langMenu.classList.toggle("hidden");
    });

    // Fecha o menu se clicar fora
    document.addEventListener("click", (e) => {
        if (!langToggle.contains(e.target) && !langMenu.contains(e.target)) {
            langMenu.classList.add("hidden");
        }
    });
</script>
